<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/styles.css" rel="stylesheet" type="text/css">
  <title>Megaband</title>
</head>
<body>
  <div class="container">
    <h4>Megaband 2018</h4>
    <a href="/tickets">Pay for Megaband tickets</a><br>
    or<br>
    <a href="/tshirts">Buy Megaband t-shirts</a>
  </div>
</body>
</html>
