<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/styles.css" rel="stylesheet" type="text/css">
  <title>Megaband</title>
</head>
<body>
  <div class="myContainer">
    <h4>Megaband 2018</h4>
    <p>Unfortunately advance admissions are sold out. <strong>There will be tickets available at the door.</strong> Please check <a href="http://www.portlandmegaband.com/">the Megaband website</a> for updates.</p>
  </div>
</body>
</html>
