<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/styles.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="../js/scripts.js"></script>
  <title>Megaband Payment</title>
</head>
<body>
  <div class="myContainer">
    <h4>Megaband Payment</h4>

    <hr>
    <div class="well">
      <p>Information below should match what you entered on the previous form.</p>
    </div>
    <hr>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="WEUKNYLNFN4EY">

      <table>
        <tr><td><input type="hidden" name="on1" value="Name">Name for 1st admission</td></tr>
        <tr><td><input type="text" name="os1" id="name" maxlength="200" autofocus=true required=true></td></tr>
      </table>

      <table>
        <tr><td>How many tickets are you buying (1-4)?
        <input type="number" name="quantity" id="ticketQuantity" value=1 min=1 max=4></td></tr>
      </table>

      <table>
        <tr><td><input type="hidden" name="on0" id="ticketSlidingScale" value="How much are you paying per ticket?">How much are you paying per ticket?</td></tr>
        <tr><td>
          <select name="os0">
          	<option value="10">$10 per ticket</option>
          </select>
        </td></tr>
      </table>

      <div id="total" style="display:none">
        <p><strong>You are buying <span id="totalTicketQuantity">1</span> ticket(s) for $<span id="perTicketCost">10</span> each.</strong></p>
        <hr>
        <p>After entering the information above, click the Buy Now button below.
      </div>

      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" id="submit" alt="Buy Now">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</body>
</html>
