<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/styles.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="../js/scripts.js"></script>
  <title>Megaband T-shirts</title>
</head>
<body>
  <div class="myContainer">

    <noscript>
      <div class="card">
        <p style="text-align:center;">
          <strong>Order form may not work without JavaScript.<br>
          You can download the Google Chrome web broswer <a href="https://www.google.com/chrome/browser" target=_blank>here</a>.</strong>
        </p>
      </div>
    </noscript>

    <div class="header">
      <h4>Megaband T-shirt Order Form</h4>
      <p class="card">
        Short sleeve shirts are $20.<br>
        Long sleeve shirts are $30.<br>
        Order deadline is February 14.<br>
        Shirts available by online order only.<br>
        All shirts must be picked up at the dance.<br>
        There will not be additional shirts for sale at the dance.
      </p>

      <figure id="design">
        <img src="/images/megaband_shirt_2018.jpg" width="300"></img>
        <figcaption>Megaband 2018 T-shirt Design</figcaption>
      </figure>
    </div>

    <div class="card" id="swatches">
      <p>
        Colors for style <em>Bayside 5100</em> (&ldquo;unisex t-shirt&rdquo;) - $20<br>
        (<strong><a href="/images/Bayside5100.pdf" target=_blank>style guide & size chart</a></strong>)
      </p>
      <div class="row">
        <figure class="swatch">
          <img src="/images/charcoal_sample.jpg">
          <figcaption>charcoal</figcaption>
        </figure>
        <figure class="swatch">
          <img src="/images/gold_sample.jpg">
          <figcaption>gold</figcaption>
        </figure>
        <figure class="swatch">
          <img src="/images/carolina_blue_sample.jpg">
          <figcaption>carolina blue</figcaption>
        </figure>
        <figure class="swatch">
          <img src="/images/lime_green_sample.jpg">
          <figcaption>lime green</figcaption>
        </figure>
      </div>
      <hr>
      <p>
        Colors for style <em>Bayside 3325</em> (&ldquo;women's t-shirt&rdquo;) - $20<br>
        <span id="size-warning">Sizes reportedly run small.</span><br>
        (<strong><a href="/images/Bayside3325.pdf" target=_blank>style guide & size chart</a></strong>)
      </p>
      <div class="row">
        <figure class="swatch">
          <img src="/images/purple_sample.jpg">
          <figcaption>purple</figcaption>
        </figure>
        <figure class="swatch">
          <img src="/images/teal_sample.jpg">
          <figcaption>teal</figcaption>
        </figure>
        <figure class="swatch">
          <img src="/images/carolina_blue_sample.jpg">
          <figcaption>carolina blue</figcaption>
        </figure>
        <figure class="swatch">
          <img src="/images/lime_green_sample.jpg">
          <figcaption>lime green</figcaption>
        </figure>
      </div>
      <hr>
      <p>
        Colors for style <em>Bayside 6100</em> (&ldquo;unisex long sleeve&rdquo;) - $30<br>
        (<strong><a href="/images/Bayside6100.pdf" target=_blank>style guide & size chart</a></strong>)
      </p>
      <div class="row">
        <figure class="swatch">
          <img src="/images/sand_sample.jpg">
          <figcaption>sand</figcaption>
        </figure>
        <figure class="swatch">
          <img src="/images/charcoal_sample.jpg">
          <figcaption>charcoal</figcaption>
        </figure>
        <figure class="swatch">
          <img src="/images/lime_green_sample.jpg">
          <figcaption>lime green</figcaption>
        </figure>
      </div>
    </div>

    <p>Please choose style / size / color below and then click the "Add to Cart" button.</p>
    <p>If you want to order multiple t-shirts with different styles / sizes / colors, from the shopping cart you can click "Continue shopping" to return to this page and select an additional style / size / color option.</p>

    <div class="card" id="tshirtAddToCart">
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="GPXCJ6BKX678L">
        <table>

          <tr class="label"><td><input type="hidden" name="on3" value="Name">Name</td></tr>
          <tr><td><input type="text" name="os3" maxlength="200" size=35 required=true></td></tr>

          <tr><td>&nbsp;</td></tr>

          <tr class="label"><td><input type="hidden" name="on0" value="Style">Style</td></tr>
          <tr><td>
            <select id="shirtStyle" name="os0">
            	<option value="5100-unisex">5100 ("unisex t-shirt") - $20 </option>
            	<option value="3325-women">3325 ("women's t-shirt") - $20 </option>
            	<option value="6100-long-sleeve">6100 ("long sleeve") - $30 </option>
            </select>
          </td></tr>

          <tr><td>&nbsp;</td></tr>

          <tr class="label"><td><input type="hidden" name="on1" value="Size">Size</td></tr>
          <tr><td>
            <select id="size" name="os1">
              <option value="S">S </option>
              <option value="M">M </option>
            	<option value="L">L </option>
            	<option value="XL">XL </option>
            	<option value="2XL">2XL </option>
            	<option value="3XL">3XL </option>
            </select>
          </td></tr>

          <tr><td>&nbsp;</td></tr>

          <tr class="label"><td><input type="hidden" name="on2" value="Color">Color</td></tr>
          <tr><td>
            <select id="colors" name="os2">
              <option value="charcoal">charcoal </option>
              <option value="gold">gold </option>
            	<option value="carolina blue">carolina blue </option>
            	<option value="lime green">lime green </option>
            </select>
          </td></tr>

        </table>

        <p id="warning">Please check your selections before continuing.</p>

        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" class="button" alt="Add to Cart">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

    <div id="viewCart">
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC7iNuI/IdaLMxhtqTwMLi4ZTlOs67uc/nvFLlfmQqA6sMaOdHs+vw3foqsMX0L3F2dg5K1lwCkuDxJAKkepZi1yip5m8DNBY+HzICIPhY4EzNY8uQp5d/sGXsUSPJSnjBT970Y2x8hXV89f5BLtviH+f8IjK3Og2ZmQWVtkXV7pzELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAhObW2nDBcPL4AwkiP6qsdUVJduZqy6bnU/dg+UtUGrm8xZNUaMJVHDZIylre9sGYH9V0JlMvA1CJBSoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTgwMTI5MDc0ODA2WjAjBgkqhkiG9w0BCQQxFgQUkMURTPVWbSi6B8d1VXzVbzUVKLcwDQYJKoZIhvcNAQEBBQAEgYBvzCQitbzTTQCffbah1d0qtCJLvjp13lSzNwyvLuj+V3Cpr0venWlR5QlpeKL9fJdDzzevLFiQ4zbl5NpT2j0OiaQVNAnBU4ky0CYS3kLWYZNUaKaiDKGBEYkHrHM3/wx6XZa7EdYhe4vkuVizBiZjuTPofbd28Hvsfj9Z+rnb6A==-----END PKCS7-----
        ">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_SM.gif" border="0" name="submit" class="button" alt="View Cart">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

  </div>

</body>
</html>
