<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/styles.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="../js/scripts.js"></script>
  <title>Megaband T-shirts</title>
</head>
<body>
  <div class="myContainer">
    <div class="header">
      <h4>Megaband T-shirts</h4>
      <p class="card">
        2018 Megband t-shirts are no longer for sale.<br>
        If you've already ordered one, please pick it up at the dance.<br>
        Thanks!
      </p>

      <figure id="design">
        <img src="/images/megaband_shirt_2018.jpg" width="300"></img>
        <figcaption>Megaband 2018 T-shirt Design</figcaption>
      </figure>
    </div>
  </div>
</body>
</html>
