body {
  background-color: #19053A;
  font-family: Arial, san-serif;
}

.myContainer {
  background: #FFEACC;
  box-shadow: 0 2px 2px #4A2D74;
  color: #111;
  max-width: 700px;
  width: 100%;
  margin: 3em auto;
  padding: 3em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  position: relative;
  border-radius: 15px;
}

form {
  max-width: 400px;
  padding: 0.5em;
}

table {
  margin-bottom: 20px;
}

#name {
  width: 350px;
}

#total {
  display: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.button {
  cursor: pointer;
}

.header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: #FFF5E6;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#viewCart {
  text-align: center;
  margin-top: 30px;
}

.swatch img {
  margin: 10px;
}

.swatch figcaption {
  text-align: center;
  font-size: 0.75em;
}

#swatches {
  padding: 20px;
}

#swatches p {
  text-align: center;
}

#swatches .row {
  margin: auto;
}

#design figcaption {
  font-size: 0.85em;
}

#addShirtToCart {
  margin-top: 30px;
}
